@import com.avicenna.template.TmplPrintDto

@(vm: TmplPrintDto)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>

        <title>@vm.getReportName</title>

        <link href="@routes.Assets.versioned("css/shared/template/template_base.min.css")" rel="stylesheet" type="text/css" />
        <link href="@routes.Assets.versioned("css/print.min.css")" rel="stylesheet" type="text/css" >
        <link href="@routes.Assets.versioned(vm.getPaperCss)" rel="stylesheet" type="text/css" />
        <link href="@routes.Assets.versioned("css/print-html.css")" rel="stylesheet" type="text/css" >

        <script src="@routes.Assets.versioned("bower_components/jquery/dist/jquery.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("js/print.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("js/print-html.js")" type="text/javascript"></script>
    </head>
    <body class="@vm.getPaperSize.getSize">
        <div>
            <button type="button" class="btn-print" id="btnSendToPrint" data-pdfurl="@vm.getPrintUrl"> Cetak </button>
        </div>
        <hr id="btnSendToPrintDivider"/>
        <div>
            @content
        </div>
    </body>
</html>