# Created by .ignore support plugin (hsz.mobi)
### PlayFramework template
# Ignore Play! working directory #
bin/
/db
.eclipse
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache
/bin

/.g8/
/.idea/
/conf/application.conf
/conf/h2-local-embedded.conf
/conf/h2-local-server.conf
/conf/sql-local-server.conf
/conf/sql-live-server.conf
/data/
/lib/flexrepository_2.12-0.x.x.jar
.DS_Store
**/*.DS_Store
/conf/evolutions/

# Project exclude paths
/node_modules/