.left-sidebar {
    width: 220px;
}

.fixed-sidebar .navbar-collapse {
    margin-left: 220px;
}

.mini-sidebar .sidebar-nav #sidebarnav > li > ul {
    width: 220px;
}

@media (max-width: 767px) {
    .mini-sidebar .left-sidebar,
    .mini-sidebar .sidebar-footer {
        left: -300px;
    }
}

@media (min-width: 1024px) {
    .page-wrapper, .footer {
        margin-left: 220px;
    }
}

@media (min-width: 768px) {
    .navbar-header {
        width: 220px;
    }
}

.topbar .top-navbar .navbar-nav > .nav-item > div.main-title {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    line-height: 65px;
    margin-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.alert {
    margin-bottom: 0px !important;
    border-radius: 0px !important;
}

.container-fluid {
    padding: 10px !important;
}

.sidebar-nav .menu-icon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    display: inline-block;
    background-size: 20px 20px !important;
}

.sidebar-nav .sub-menu-icon {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    display: inline-block;
    background-size: 16px 16px !important;
}

.sidebar-nav ul li a {
    padding: 5px 35px 5px 15px !important;
    font-weight: lighter !important;
    color: #8d97ad !important;
    font-size: 12px !important;
}

.sidebar-nav ul li a.active {
    color: #03a9f3 !important;
    font-weight: 500 !important;
}

.sidebar-nav ul li a:hover {
    color: #03a9f3 !important;
    font-weight: 500 !important;
}

.sidebar-nav ul li ul {
    padding-left: 20px !important;
}

.sidebar-nav .sidemenu {
    
}

@media (min-width: 768px) {
    .mini-sidebar .sidebar-nav #sidebarnav > li > ul {
        top: 35px;
    }
}

.module-icon {
    width: 25px;
    height: 25px;
    display: inline-block;
    background-size: 25px 25px !important;
    color: #8d97ad !important;
    font-size: 13px !important;
    font-weight: 700;
}

.module-initial {
    margin-left: 10px;
    text-align: left;
    font-weight: lighter;
    font-style: normal;
    font-size: 12px;
    color: #404040;
}

.simple-line-icon {
    font-size: 18px !important;
}