.mytooltip:hover .tooltip-content2, .mytooltip:hover .tooltip-content2 i {
    opacity: 1;
    font-size: 18px;
    pointer-events: auto;
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1); }

.mytooltip:hover .tooltip-content4, .mytooltip:hover .tooltip-text2 {
    pointer-events: auto;
    opacity: 1;
    transform: translate3d(0, 0, 0); }

.mytooltip {
    display: inline;
    position: relative;
    z-index: 9999; }
.mytooltip:hover .tooltip-item::after {
    pointer-events: auto; }
.mytooltip:hover .tooltip-content {
    pointer-events: auto;
    opacity: 1;
    transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0); }
.mytooltip:hover .tooltip-content3 {
    opacity: 1;
    pointer-events: auto;
    transform: scale3d(1, 1, 1); }
.mytooltip:hover .tooltip-item2 {
    color: #fff;
    transform: translate3d(0, -0.5em, 0); }
.mytooltip:hover .tooltip-content5 {
    opacity: 1;
    pointer-events: auto;
    transition-delay: 0s; }
.mytooltip:hover .tooltip-text3 {
    transition-delay: 0s;
    transform: scale3d(1, 1, 1); }
.mytooltip:hover .tooltip-inner2 {
    transition-delay: 0.3s;
    transform: translate3d(0, 0, 0); }

.tooltip-item {
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
    padding: 0 10px; }

.tooltip-item::after {
    content: '';
    position: absolute;
    width: 360px;
    height: 20px;
    bottom: 100%;
    left: 50%;
    pointer-events: none;
    transform: translateX(-50%); }

.tooltip-content {
    position: absolute;
    z-index: 9999;
    width: 360px;
    left: 50%;
    margin: 0 0 20px -180px;
    bottom: 100%;
    text-align: left;
    font-size: inherit;
    line-height: 30px;
    box-shadow: -5px -5px 15px rgba(48, 54, 61, 0.2);
    background: #2b2b2b;
    opacity: 0;
    cursor: default;
    pointer-events: none; }
.tooltip-content img {
    position: relative;
    height: 140px;
    display: block;
    float: left;
    margin-right: 1em; }

.tooltip-effect-5 .tooltip-content {
    width: 180px;
    margin-left: -90px;
    transform-origin: 50% calc(106%);
    transform: rotate3d(0, 0, 1, 15deg);
    transition: opacity 0.2s, transform 0.2s;
    transition-timing-function: ease, cubic-bezier(0.17, 0.67, 0.4, 1.39); }

.tooltip-effect-5 .tooltip-text {
    padding: 1.4em; }

.tooltip-content::after {
    content: '';
    top: 100%;
    left: 50%;
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-top-color: #2a3035;
    border-width: 10px;
    margin-left: -10px; }

.tooltip-text {
    font-size: inherit;
    line-height: 24px;
    display: block;
    padding: 1.31em 1.21em 1.21em 0;
    color: #fff; }

.tooltip-content2 {
    position: absolute;
    z-index: 9999;
    width: 80px;
    height: 80px;
    padding-top: 25px;
    left: 50%;
    margin-left: -40px;
    bottom: 100%;
    border-radius: 50%;
    text-align: center;
    background: #fb9678;
    color: #fff;
    opacity: 0;
    margin-bottom: 20px;
    cursor: default;
    pointer-events: none; }
.tooltip-content2 i {
    opacity: 0; }

.tooltip-effect-6 .tooltip-content2 {
    transform: translate3d(0, 10px, 0) rotate3d(1, 1, 1, 45deg);
    transform-origin: 50% 100%;
    transition: opacity 0.3s, transform 0.3s; }
.tooltip-effect-6 .tooltip-content2 i {
    transform: scale3d(0, 0, 1);
    transition: opacity 0.3s, transform 0.3s; }

.tooltip-effect-6:hover .tooltip-content2 i {
    transform: rotate3d(1, 1, 1, 0); }

.tooltip-content2::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin: -7px 0 0 -15px;
    width: 30px;
    height: 20px;
    background: url(../../../../assets/images/tooltip/tooltip1.svg) no-repeat center center;
    background-size: 100%; }

.tooltip-content3 {
    position: absolute;
    background: url(../../../../assets/images/tooltip/shape1.svg) no-repeat center bottom;
    background-size: 100% 100%;
    z-index: 9999;
    width: 200px;
    bottom: 100%;
    left: 50%;
    margin-left: -100px;
    padding: 50px 30px;
    text-align: center;
    color: #fff;
    opacity: 0;
    cursor: default;
    font-size: inherit;
    line-height: 27px;
    pointer-events: none;
    transform: scale3d(0.1, 0.2, 1);
    transform-origin: 50% 120%;
    transition: opacity 0.4s, transform 0.4s;
    transition-timing-function: ease, cubic-bezier(0.6, 0, 0.4, 1); }

.tooltip-content3::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    left: 50%;
    margin-left: -8px;
    top: 100%;
    background: #00aeef;
    transform: translate3d(0, -60%, 0) rotate3d(0, 0, 1, 45deg); }

.tooltip-item2 {
    color: #00aeef;
    cursor: pointer;
    z-index: 100;
    position: relative;
    display: inline-block;
    font-weight: 500;
    transition: background-color 0.3s, color 0.3s, transform 0.3s; }

.tooltip-content4 {
    position: absolute;
    z-index: 99;
    width: 360px;
    left: 50%;
    margin-left: -180px;
    bottom: -5px;
    text-align: left;
    background: #00aeef;
    opacity: 0;
    font-size: inherit;
    line-height: 27px;
    padding: 1.5em;
    color: #fff;
    border-bottom: 55px solid #2b2b2b;
    cursor: default;
    pointer-events: none;
    border-radius: 5px;
    transform: translate3d(0, -0.5em, 0);
    transition: opacity 0.3s, transform 0.3s; }
.tooltip-content4 a {
    color: #2b2b2b; }

.tooltip-text2 {
    opacity: 0;
    transform: translate3d(0, 1.5em, 0);
    transition: opacity 0.3s, transform 0.3s; }

.tooltip-content5 {
    position: absolute;
    z-index: 9999;
    width: 300px;
    left: 50%;
    bottom: 100%;
    font-size: 20px;
    line-height: 1.4;
    text-align: center;
    font-weight: 400;
    color: #fff;
    background: transparent;
    opacity: 0;
    margin: 0 0 20px -150px;
    cursor: default;
    pointer-events: none;
    transition: opacity 0.3s 0.3s; }
.tooltip-content5 span {
    display: block; }

.tooltip-text3 {
    border-bottom: 10px solid #fb9678;
    overflow: hidden;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s 0.3s; }

.tooltip-inner2 {
    background: #2b2b2b;
    padding: 40px;
    transform: translate3d(0, 100%, 0);
    transition: transform 0.3s; }

.tooltip-content5::after {
    content: '';
    bottom: -20px;
    left: 50%;
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-top-color: #fb9678;
    border-width: 10px;
    margin-left: -10px; }

.tooltip-effect-1 .tooltip-content {
    transform: translate3d(0, -10px, 0);
    transition: opacity 0.3s, transform 0.3s;
    color: #fff; }

.tooltip-effect-2 .tooltip-content {
    transform-origin: 50% calc(110%);
    transform: perspective(1000px) rotate3d(1, 0, 0, 45deg);
    transition: opacity 0.2s, transform 0.2s; }

.tooltip-effect-3 .tooltip-content {
    transform: translate3d(0, 10px, 0) rotate3d(1, 1, 0, 25deg);
    transition: opacity 0.3s, transform 0.3s; }

.tooltip-effect-4 .tooltip-content {
    transform-origin: 50% 100%;
    transform: scale3d(0.7, 0.3, 1);
    transition: opacity 0.2s, transform 0.2s; }

.tooltip.tooltip-effect-2:hover .tooltip-content {
    transform: perspective(1000px) rotate3d(1, 0, 0, 0deg); }

a.mytooltip {
    font-weight: 500;
    color: #fb9678; }

.tooltip-effect-7 .tooltip-content2 {
    transform: translate3d(0, 10px, 0);
    transition: opacity 0.3s, transform 0.3s; }
.tooltip-effect-7 .tooltip-content2 i {
    transform: translate3d(0, 15px, 0);
    transition: opacity 0.3s, transform 0.3s; }

.tooltip-effect-8 .tooltip-content2 {
    transform: translate3d(0, 10px, 0) rotate3d(0, 1, 0, 90deg);
    transform-origin: 50% 100%;
    transition: opacity 0.3s, transform 0.3s; }
.tooltip-effect-8 .tooltip-content2 i {
    transform: scale3d(0, 0, 1);
    transition: opacity 0.3s, transform 0.3s; }

.tooltip-effect-9 .tooltip-content2 {
    transform: translate3d(0, -20px, 0);
    transition: opacity 0.3s, transform 0.3s; }
.tooltip-effect-9 .tooltip-content2 i {
    transform: translate3d(0, 20px, 0);
    transition: opacity 0.3s, transform 0.3s; }

.btn-info {
    color: #fff !important;
}

.sidebar-nav>ul>li {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.sidebar-nav>ul>li.form-control {
    min-height: 25px !important;
    padding: .15rem .5rem !important;
    font-size: inherit;
    line-height: 1.9 !important;
    border-radius: .2rem !important;
    font-weight: lighter;
}

.input-group > .input-group-append *:focus,
.input-group > .input-group-prepend *:focus {
    border-color: #fec107 !important;
}

.form-control:focus, .select2-container *:focus {
    border-color: #fec107 !important;
}

.select2-default {
    color: #000 !important;
}

.select2-container--default
.select2-selection--single
.select2-selection__placeholder {
    color: #000 !important;
}
/*Comment ellipsis untuk view full label untuk form (15/10/2018)*/
.col-form-label {
    /*white-space: nowrap;*/
    overflow: hidden;
    /*text-overflow: ellipsis;*/
    font-size: inherit;
    font-weight: lighter;
    line-height: 1em!important;
}

.control-label {
    /*white-space: nowrap;*/
    overflow: hidden;
    /*text-overflow: ellipsis;*/
    font-size: inherit;
    font-weight: lighter !important;
    line-height: 1em!important;
}

.form-control {
    font-size: inherit !important;
}

.form-control-static {
    font-weight: 400 !important;
    margin-bottom: 0px !important;
}

.form-group {
    margin-bottom: 5px !important;
}

.datepicker table tr td span.active.active,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled.disabled,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover,
.datepicker table tr td span.active.disabled:hover.active,
.datepicker table tr td span.active.disabled:hover.disabled,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.disabled:hover:hover,
.datepicker table tr td span.active.disabled:hover[disabled],
.datepicker table tr td span.active.disabled[disabled],
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active:hover.disabled,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td span.active:hover:hover,
.datepicker table tr td span.active:hover[disabled],
.datepicker table tr td span.active[disabled],
.datepicker table tr td.active.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover.active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active:hover:active {
    background-color: #03a9f3 !important;
}

.datepicker table tr td.active, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active:hover {
    background-image: none !important;
}

.card .card-title {
    margin-top: 5px !important;
    margin-left: 10px;
    margin-bottom: 5px;
    line-height: 2.5 !important;
}

.card .card-title hr {
    line-height: 1 !important;
}

.card .card-footer {
    padding: 10px !important;
    text-align: center !important;
    background-color: white !important;
}

h4.in-form {
margin-left: 0px !important;
}

table.dataTable {
border-collapse: collapse !important;
}

div.form-inline {
display: block !important;
flex-flow: unset !important;
}

table.dataTable thead th {
border-bottom: 1px solid #03a9f3 !important;
}

table.dataTable th {
text-align: center;
vertical-align: middle;
background-color: #F0F0F0;
font-size: inherit;
}

table.dataTable td, table.dataTable th {
padding: 10px !important;
}

.small-table {
font-size: 0.6rem !important;
padding: 2px !important;
}

table.dataTable td.max70, table.dataTable th.max70 {
max-width: 70px;
}

table.dataTable td.max100, table.dataTable th.max100 {
max-width: 100px;
}

table.dataTable td.max120, table.dataTable th.max120 {
max-width: 120px;
}

table.dataTable td.max150, table.dataTable th.max150 {
max-width: 150px;
}

table.dataTable td.max200, table.dataTable th.max200 {
max-width: 200px;
}

table.dataTable td.max250, table.dataTable th.max250 {
max-width: 250px;
}

table.dataTable td.max70 div,
table.dataTable td.max100 div,
table.dataTable td.max150 div,
table.dataTable td.max200 div,
table.dataTable td.max250 div {
white-space: normal;
overflow: hidden;
text-overflow: unset;
}

table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child > div {
padding-left: 15px !important;
top: 0px !important;
}

div.dtlabel {
font-size: inherit;
font-style: normal;
font-weight: lighter;
width: 100%;
display: block;
color: #A9A9A9;
}

div.dtlabel-black {
font-size: inherit;
font-style: normal;
font-weight: normal;
width: 100%;
display: block;
color: #000000;
}

div.dtvalue {
font-size: inherit;
font-style: normal;
font-weight: 400;
width: 100%;
display: block;
}

div.dtvalue .prewrap{
white-space: pre-wrap !important;
}

div.dtvalue-smallfont {
font-size: 0.7rem;
font-style: normal;
font-weight: lighter;
width: 100%;
display: block;
}

div.dtvalue-smallfont-multiline {
font-size: 0.7rem;
font-style: normal;
font-weight: lighter;
width: 100%;
}

span.dtvalue-smallfont {
font-size: 0.7rem;
font-style: normal;
font-weight: lighter;
display: inline;
}

div.dtvalue-bigfont {
font-size: 1.2rem;
font-style: normal;
font-weight: 400;
width: 100%;
display: block;
}

div.dtlable-wrap {
white-space: pre-wrap !important;
overflow: auto !important;
text-overflow: inherit !important;
font-size: inherit;
font-style: normal;
font-weight: lighter;
width: 100%;
display: block;
color: #A9A9A9;
}

div.dtheader {
font-size: inherit;
font-style: normal;
font-weight: 400;
width: 100%;
display: block;
}

table.dataTable tr.selected {
background: #50C9FC !important;
color: #fff !important;
}

.dataTables_wrapper {
padding-top: 0px !important;
}

.paging_simple_numbers
.pagination
.paginate_button.active a,
.paging_simple_numbers
.pagination
.paginate_button:hover a {
background: #03a9f3 !important;
}

.page-link, .page-item.active {
color: #000 !important;
}

.page-link:hover {
border-color: #343a40 !important;
}

hr {
margin-top: 0px !important;
margin-bottom: 10px !important;
}

.col-xs-12 {
width: 100%;
}

option.blank {
color: #999 !important;
}

a.search-term {
margin-top: 10px;
margin-left: 10px;
color: #6c757d !important;
text-decoration: none !important;
}

.close {
font-size: 1rem !important;
}

.btn-table {
padding: 0px !important;
font-size: inherit;
line-height: 0 !important;
height: 25px !important;
}

.form-control-disabled {
font-size: inherit !important;
width: 100%;
padding: .375rem .75rem;
font-size: .875rem;
line-height: 1.5;
background-color: #e9ecef;
border: 1px solid #e9ecef;
border-radius: .25rem;
transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

span.highlight {
text-decoration: underline;
color: #03a9f3;
}

a.nav-link {
color: #03a9f3;
}

.red {
color: red !important;
}

.black-bold {
color: black !important;
font-weight: bold !important;
}

tr.group {
background-color: #ffffff;
}

td.visit-history {
padding-top: 5px !important;
padding-bottom: 5px !important;
}

.select2-selection--single {
height: 100% !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
line-height: 20px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
line-height: 20px !important;
}
.select2-container .select2-selection--single .select2-selection__rendered {
padding-top: 5px !important;
padding-bottom: 5px !important;
}

input[type=number].form-control {
min-width: 50px;
}

body {
font-family: Verdana, Georgia, Times, Times New Roman, serif !important;
font-size: 13px;
}

body.web-report {
width: 100%;
height: 100%;
padding: 0px;
margin: 0px;
}

/*datatable side server processing*/
td.dtvalue-md {
    font-size: inherit;
    font-style: normal;
}


.label-bpjs {
    background-color: #a3dd82 !important;
}

.label-insurance {
    background-color: #F4FF77 !important;
}

.border-bottom {
    border-bottom: #c0c0c0 !important;
    border-width: 1px;
}

td.dtvalue-sm {
    font-size: inherit;
    font-style: normal;
    font-weight: normal;
    color: #000000;
}

.alert {
    padding: .25rem 1.25rem !important;
}

th.rotate {
    /* Something you can count on */
    height: 140px;
    white-space: nowrap;
}

th.rotate > div {
    transform:
        /* Magic Numbers */
            translate(25px, 51px)
                /* 45 is really 360 - 45 */
            rotate(270deg);
    width: 0px;
}
th.rotate > div > span {

}

th.bg-warning, td.bg-warning {
    background-color: #f1fbe5 !important;
}

td.bg-warning-dark {
    background-color: #a3dd82 !important;
}

td.bg-default-dark {
    background-color: #c0c0c0 !important;
}

table#sensusList > tbody > tr > td {
    font-size: inherit;
    width: 40px !important;
    max-width: 40px !important;
}

.history-alert {
    padding :2px 5px !important;
}

.prescription-code {
    width: 40px !important;
    font-weight:bold!important;
    color: red !important;
    text-align: center!important;
    margin-left: 2px !important;
    padding :2px 2px !important;
}

table#resepList > tbody > tr > td {
    word-break:break-all;
    
}

.table-schedule-fixed{
    width:100%;
    border-collapse: collapse;
    cursor: pointer;
}
.table-schedule-fixed tbody {
    height: 150px;
    overflow-y: auto;
    width: 100%;
}

.table-schedule-fixed > thead > tr > th,
.table-schedule-fixed > thead > tr > td {
    font-size: inherit;
    font-weight: 400 !important;
    border-bottom: 0 !important;
    letter-spacing: 1px !important;
    vertical-align: top !important;
    padding: 16px !important;
    background: #03a9f3 !important;
    text-transform: uppercase !important;
    color: #ffffff;
    white-space: nowrap;
}

.table-schedule-fixed thead,
.table-schedule-fixed tbody,
.table-schedule-fixed tr,
.table-schedule-fixed td,
.table-schedule-fixed th {
    display: block;
}

.table-schedule-fixed tbody td,
.table-schedule-fixed tbody th,
.table-schedule-fixed thead > tr > th {
    float: left;
    position: relative;
    font-size: inherit;
}
.table-schedule-fixed > tbody > tr:hover > td,
.table-schedule-fixed > tbody > tr:hover > th,
.table-schedule-fixed > tbody > tr.select-row:hover > td,
.table-schedule-fixed > tbody > tr.select-row:hover > th,
.select-row > td,
.select-row > th{
    background: red;
}
.table-fixed tr:after {
    content: "";
    display: block;
    visibility: hidden;
    clear: both;
}
.table-schedule-fixed-selected {
    background: #5CB85C;
}

.img-thumbnail {
    padding: .1rem !important;
}

.message-center {
    height: auto !important;
    overflow: auto;
    position: relative;
}

.profile-pic img {
    width: 30px;
    border-radius: 100%;
}

.med-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    display: inline-block;
    background-size: 20px 20px !important;
}